<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask practice</title>
</head>
<body>
    <h1>Puneet</h1>
    <img style="height: 30rem; width: 30rem;"  src="../static/me.jpg" alt="">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore at iusto neque sit autem vero exercitationem voluptate, cum quasi aut ab est porro doloribus non maiores nemo. Fugiat illo ut magnam nostrum vero quidem repellendus repellat natus, consequatur enim molestias id adipisci architecto nesciunt aliquam possimus obcaecati quasi! Voluptates, laborum aliquam odio minus quia veniam tempore dolor asperiores molestiae accusamus eius ipsum sunt amet eum nulla quam necessitatibus numquam autem at optio recusandae? Molestias aliquam consequatur sed exercitationem vero porro mollitia saepe quod eveniet dicta nam magnam unde sapiente ut autem dignissimos ad, veniam ab velit ullam iusto et nobis!</p>

    <h2>open position</h2>
    <p>TODO show this page here </p>

    <button>contuct us </button>
    <p>copyright 2023 Puneet</p>
</body>
</html>